includes:
    - phpstan-baseline.neon


parameters:
    level: max

    paths:
        - src
        - tests

    fileExtensions:
        - php

    excludePaths:
        - tests/tmp

    treatPhpDocTypesAsCertain: false

    ignoreErrors:
        - '#Unsafe usage of new static\(\).#'


services:
    -
        class: LeanMapper\Tests\PhpStan\DibiFluentDynamicReturnTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
