name: Static Analysis

on:
  push:
    branches:
      - master
      - develop
    tags:
      - v*

  pull_request:

jobs:
    phpstan:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                php: ['7.2', '7.3', '7.4', '8.0', '8.1', '8.2']

            fail-fast: false

        name: PHP ${{ matrix.php }} PHPStan
        steps:
            - uses: actions/checkout@v3
            - uses: shivammathur/setup-php@v2
              with:
                  php-version: ${{ matrix.php }}
                  coverage: none

            - run: composer install --no-interaction
            - run: composer phpstan -- --no-progress
